<div id='{{mainId}}'>
    <div class='container'>
        <h2 class='mt-3'>Σφάλμα</h2>
        <div class='alert alert-primary' role='alert'>
            ΠΡΟΣΟΧΗ!
            {{message}}
        </div>
    </div>
</div>